body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
}

.firstBtn {
   background-color: #ffc060;
   color: black;
   margin-right: 1%;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-weight: bold;
   border-style: solid;
   border-width: 2px;
   border-top-color: #f1f1f1;
   border-left-color: #f1f1f1;
   border-right-color: grey;
   border-bottom-color: grey;
   margin-bottom: 400px;
}
.secondBtn {
   background-color: #ffc060;
   color: black;
   margin-right: 1%;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-weight: bold;
   border-style: solid;
   border-width: 2px;
   border-top-color: #f1f1f1;
   border-left-color: #f1f1f1;
   border-right-color: grey;
   border-bottom-color: grey;
   margin-bottom: 400px;
}
#id03 {
   color:white;
   background-color:green;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
}
#id04 {
   color:white;
   background-color:green;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;

}


/* Set a style for the rest of the elements besides the header elements on the index.html page */
body {font-family: Calibri, Helvetica, sans-serif;}
#main-container-div {
   height: 120vh;
}


.postButtons {
   display:flex;
   justify-content:center;
   align-items:center;
   height: 100%;
   -ms-flex: 0 0 100%;
   flex: 0 0 100%;
   max-width: 100%;
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sits on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scrool if needed */
   background-color: white;
   background-color: rgba(0, 0, 0, 0.4);

}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 5% auto; /* 15% from top and centered */
   padding: 20px;
   width: 350px;
   box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.4);
   animation-name: modalopen;
   animation-duration: 2s;
   display: block;
}

.createPostModal {
   display: none;/* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sits on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scrool if needed */
   background-color: white;
   background-color: rgba(0, 0, 0, 0.4);
}

.create-modal-content {
   background-color: #fefefe;
   margin: 5% auto; /* 15% from top and centered */
   padding: 20px;
   width: 700px;
   height: 500px;
   box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.4);
   animation-name: modalopen;
   animation-duration: 1s;
   font-family: "Abel", sans-serif;
}

.create-modal-header {
   -ms-flex: 0 0 100%;
   flex: 0 0 100%;
   max-width: 100%;
   text-align: center;
   display: block;
}

.modal-header {
   -ms-flex: 0 0 100%;
   flex: 0 0 100%;
   max-width: 100%;
   margin-left: 110px;
}
.top-heading {
   text-align: center;
   display: inline;
   font-size: 30px;
}
label {
   text-align: left;
   font-size: medium;
   font-weight: bold;
   display: block;
   margin-bottom: 5px;
}
input,
textarea {
   background-color: #e4dcdc;
   opacity: 0.5;
   width: -webkit-fill-available;
   padding: 13px;
   font-size: small;
   border-style: hidden;
   margin-bottom: 20px;
}

::placeholder {
   color: black;
}


.myCreateBtn {
   background-color: #4caf50;
   color: white;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
   padding-right: 20px;
   margin: auto;
   display: block;
   font-weight: medium;
}
.modal-footer {
   text-align: center;
}
#titleInput {
   width: 50%;
   margin-bottom: 40px;
}


/* Full-width input fields */
input[type=text], input[type=password] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
}

button:hover {
   opacity: 0.7;
}

/* Style the horizontal ruler */
hr {
   border: 1px solid #f1f1f1;
   margin-bottom: 25px;
}

/* Extra styles for the cancel button */
.cancelbtn {
   color:white;
   width: auto;
   padding: 10px 18px;
   background-color: #c82500;
   border: none;

}

/* Center the image and position the close button */
.imgcontainer {
   text-align: center;
   margin: 24px 0 12px 0;
   position: relative;
}

/* Clear floats */
.clearfix::after {
   content: "";
   clear: both;
   display: table;
}


.container {
   padding: 16px;
}

span.psw {
   float: right;
   padding-top: 16px;
}


/* The Close Button (x) */
.close {
   position: absolute;
   right: 25px;
   top: 0;
   color: #000;
   font-size: 35px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: red;
   cursor: pointer;
}

/* Add Zoom Animation */
.animate {
   -webkit-animation: animatezoom 0.6s;
   animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
   from {-webkit-transform: scale(0)}
   to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
   from {transform: scale(0)}
   to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
   span.psw {
      display: block;
      float: none;
   }
   .cancelbtn {
      width: 100%;
   }
}



@keyframes modalopen {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}



                                 
